body {
	background-image: url('../media/background_body.jpg');
}
h1 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    text-align: center;
    font-weight: normal;
    font-family: 'Imbue', sans-serif;  
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 1px -2px white, 2px -3px #d1d1d1;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

p {
	font-size: 20px;
	width: 350px;
	margin: 10px auto;
	text-align: center;
}

form {
	width: 400px;
	margin: 50px auto;
}

div {
	text-align: center;
}

.form_border {
	border: 4px outset #45c5d5;
	border-radius: 5px;
	width: 350px;
}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: auto;
  height: 45px;
  line-height: 45px;
  border: hidden;
  border-radius: 45px;
  padding: 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}